// Import all of Bootstrap's CSS

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

@mixin desktopResolution {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

h1 {
  color: $orange;
}

.btn {
  color: $white;
  background-color: $orange;
  font-weight: bold;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.p {
  &-6 {
    padding: 100px 24px 100px 24px;
  }
}

.big-screen {
  height: 700px;
  background-image: url(../assets/images/Illustration.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  @include desktopResolution {
    background-image: url(../assets/images/large-background.png);
  }
}

.aboutme-screen {
  height: 700px;
  background-image: url(../assets/images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  @include desktopResolution {
    background-image: url(../assets/images/AboutMe-Large.png);
  }
}

.custom-heigth {
  height: 500px;
}

hr {
  &light {
    color: #fff;
  }
}

.pt {
  &-6 {
    margin-top: 350px;
  }
}
